*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Color Theme Swatches in Hex */
.Yannick-Gregoire-1-hex { color: #F2F2F2; }
.Yannick-Gregoire-2-hex { color: #BFBFBF; }
.Yannick-Gregoire-3-hex { color: #737373; }
.Yannick-Gregoire-4-hex { color: #404040; }
.Yannick-Gregoire-5-hex { color: #0D0D0D; }


body{
  background-color: #F2F2F2;
  height: 100vh;

}
 p{
  font-family: 'Fanwood Text', serif;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.parrafo1{
  display: grid;
  background-color: #BFBFBF;
  margin-bottom: 0;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  background-color:#F2F2F2;
  position: relative;
}

.logo{
  width: 6em;
  padding: 5px;
  margin: 5px;
}
header nav ul li a{
  text-decoration: none;
  color: #0D0D0D;
}

header nav ul li {
  display:flex;
  list-style-type: none;
  font-size: 20px;
  
}  
header nav ul{
  display: flex;
  justify-content:space-evenly;
  opacity: 1;
  align-items: center;
  border: 1px solid #0D0D0D;
  background-color: #BFBFBF;
}

.titulos{
 font-family: 'Quattrocento', serif;
 font-size: 40px;
 font-weight: bold;
 text-align: center;
 margin-top: 30px;
 margin-bottom: 10px;
}
.icono-cara{
  display: block;
  margin: auto;
  width: 15em;
  background-color: #BFBFBF;
  border-radius: 100%;
  margin-top:30px;
  margin-bottom: 100px;
}
.diseño-web{
  display: block;
  margin: auto;
  width: 50%;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  padding: 20px;
  margin-top: 0;
  margin-bottom: 100px;
  background-color: #BFBFBF;
  margin-left: 25px;
  margin-right: 25px;
}

.card{
  background-color: #F2F2F2;
  border: 1px solid #0D0D0D;
  margin-top: 0;
}


.icono-card{
  width: 6em;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.details{
  padding: 20px 10px;
}

.titulo-card{
  font-family: 'Quattrocento', serif;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0 15px 0;
}


.titulo-contact{
  margin-top: 20px;
  margin-bottom: 10px;
}
.container-contact{
  display: flex;
  justify-content: center;
}
.formularios{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BFBFBF;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem black;
}
.formularios p{
  font-family: 'Fanwood Text', serif;
  font-size: 25px;
}
.button-enviar{
  font-family: 'Fanwood Text', serif;
  background-color: #F2F2F2;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-top: 20px;
}

.input-form-nombre{

  background-color: #F2F2F2;
  border-radius: 20px;
  height: 50px;
  width: 300px;
  border: 2.5px solid #0D0D0D;
  text-align: center;
}

.input-form-email{
  background-color: #F2F2F2;
  border-radius: 20px;
  height: 50px;
  width: 300px;
  border: 2.5px solid #0D0D0D;
  text-align: center;
}

.textarea{
  background-color:#F2F2F2; 
  width: 450px; 
  height: 150px; 
  border: 2.5px solid #0D0D0D; 
  margin-top: 10px;  
  padding-left: 10px;
  padding-top: 15px; 
  border-radius: 20px;
} 
img{
  width: 100%;
  height: 100%;
}
.grid-main{
  display: grid;
  width: 75%;
  margin: 50px auto;
  grid-template-rows: repeat(3,190px);
  grid-template-columns: repeat(3,1fr);
  grid-gap:20px ;
}
.grid{
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0,0,0.5);
}
.grid-img{
  width: 100%;
  height: 100%;
  transition: .5s;
}

.overly{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(to bottom,transparent,black);
  padding: 29px 15px 10px;
  transition: .5s;
}

.overly h2{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 400;
}
.grid:hover .overly{
  bottom: 0px;
  transition: .5s;
}
.grid:hover .grid-img{
transform: scale(1.3);
transition: .5s;
}

.icono-cara-about{
  width: 6em;
  background-color: #BFBFBF;
  border-radius: 100%;
  margin-top:30px;
}

.img-about{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-radius: 20%;
}
.container-skills{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container-skills .card-skills{
 position: relative;
 max-width: 300px;
 height: 260px;
 background-color: #BFBFBF;
 margin: 30px 10px;
 padding: 20px 15px;
 display: flex;
 flex-direction: column;
 box-shadow: 0 5px 20px rgba(0, 0,0,0.5);
 transition: 0.3s ease-in-out;
}
.container-skills .card-skills:hover{
  height: 420px;
}
.container-skills .card-skills .img-skills{
  margin-right: 50px;
  position: relative;
  max-width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0,0,0.2);
  
 }
 .container-skills .card-skills .img-skills img{
 max-width: 100%;
 border-radius: 4px;
 }

 .container-skills .card-skills .content-skills{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
 }
 .container-skills .card-skills:hover .content-skills{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
 }
.footer{
  background-color: #BFBFBF;
  margin-top: 125px;
}

.footer .social{
  text-align: center;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  margin:0 0;
  opacity: 0.75;
  margin-top: 20px;
}
.footer .social a:hover{
  opacity: 1;
}
.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
 }
 .footer ul li{
  display: inline-block;
  padding: 0 15px;
 }
 
.footer ul li a:hover{
  opacity: 1;
 }
 .footer .copyright{
  text-align: center;
  font-size: 13px;
}

.logo-footer{
  display: block;
  margin: auto;
  width: 6em;
}

@media screen and (max-width:600px) {
  .grid-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .cards{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .input-form-nombre{
    height: 50px;
    width: 150px;
 
  }
  
  .input-form-email{
    height: 50px;
    width: 150px;
 
  }
  
  .textarea{
    width: 150px; 
    height: 150px; 
 
}
}

@media screen and (max-width:1080px) {
  .grid-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .cards{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .input-form-nombre{
    height: 50px;
    width: 250px;
 
  }
  
  .input-form-email{
    height: 50px;
    width: 250px;
 
  }
  
  .textarea{
    width: 250px; 
    height: 150px; 
 
}
}