    @import"./utilities/variables";
    @import "./utilities/mixins";
    @import "./base/reset";
    @import "./base/typo";
    @import "./base/body";
    @import "./base/img";
    @import "./base/parrafos";
    @import "./base/animaciones";
    
    @import "./components/button";

    @import "./layout/header";
    @import "./layout/main-index";
    @import "./layout/main-about";
    @import "./layout/main-contact";
    @import "./layout/main-skills";
    @import "./layout/main-work";
    @import "./layout/footer";

    @import"./layout/media";
    
   