@mixin propiedades-flex($direction,$justify,$align) {
    
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin centrar-img {
    display: block;
    margin: auto;
}

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}