$background-principal:#0D0D0D;
$background-secundario:#F2F2F2;
$fuente-principal:'Karla', sans-serif;
$fuente-secundaria:'Inconsolata', monospace;
$font-sm:15px;
$font-md:20px;
$font-lg:25px;
$font-xl:40px;
