header{
    display: flex;
    background-color: $background-principal;
    h1{
        color:rgb(117, 141, 161);
    }
    nav{
        background-color: rgb(211, 183, 183);
        width: 100%;
    }
}

.navBar{
    display: flex;
    justify-content: space-evenly;
    li{
        list-style: none;
        font-size: 25px;
        a{
            text-decoration: none;
            color: black;
            &:hover{
                color: aliceblue;
            }
        }
    }
}