// header{
//     position: fixed;
//     z-index: 1000;
//     left: 0;
//     top:0;
//     width: 100vh;
//     height: auto;
// }


nav{
  background-color: $background-principal;
  height: 80px;
  width: 100%;
  ul{
      float: right;
      margin-right: 20px;

      li{
          display: inline-block;
          line-height:80px;
          font-family:$fuente-principal;
          margin: 0 10px;
          list-style-type: none;
          a {
              color: #f2f2f2;
              font-size: $font-md;
              text-transform: uppercase;
              font-weight: bold;
              text-decoration: none;
              padding: 7px 13px;

              .active,a:hover{
                background:#616161;
              }
          }
      }
  }
}
.logo{
  margin-top: -20px;
  width: 8em;
  line-height: 80px;
  }
  
  .home{
      position:absolute;
      padding: 20px 50px;
  }
  .checkbtn{
      margin-top: 60px;
      width: 2em;
      color: #F2F2F2;
      float: right;
      margin-right: 40px;
      cursor: pointer;
      display: none;
  }
  #check{
      display: none;
  }
