.titulos{
    font-family:  $fuente-principal;
    font-size: $font-lg;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    }
    
.p-skills{
    color: #0d0d0d;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    padding: 20px;
    margin-top:70px;
    margin-bottom: 100px;
    background-color: $background-secundario;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5%;
    }
    
    .card{     
    border: 1px solid #f2f2f2;
    margin-top: 0;
    }
    
    .icono-card{
    width: 6em;
    @include centrar-img;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $background-secundario;
    }
    
    .details{
    color: #0d0d0d;
    padding: 20px 10px;
    font-family:  $fuente-secundaria;
    }
    
    .titulo-card{
    font-family:  $fuente-principal;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: $font-lg;
    margin: 10px 0 15px 0;
    }