.grid-main{
    display: grid;
    width: 75%;
    margin: 50px auto;
    grid-template-rows: repeat(3,190px);
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px ;
    }

.grid{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0,0,0.5);
    }
    .grid-img{
    width: 100%;
    height: 100%;
    transition: .5s;
    }
    
    .overly{
    font-family:  $fuente-secundaria;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(to bottom,transparent,black);
    padding: 29px 15px 10px;
    transition: .5s;
        h2{
            font-size: $font-sm;
            text-transform: uppercase;
            color: #f2f2f2;
            letter-spacing: 1px;
            margin-bottom: 15px;
            font-weight: 400;
        }
    }
    

    .grid:hover .overly{
    bottom: 0px;
    transition: .5s;
    }
    .grid:hover .grid-img{
    transform: scale(1.3);
    transition: .5s;
    }

    .section-title-work{
        margin-top:50px ;
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
        font-family: $fuente-principal;
     }