.container-skills{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon{
    width: 4em;
    background-color: $background-secundario;
    margin-bottom: 30px;
}
.icono-p{
    width: 1em;
}

 .section-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: $fuente-principal;
 }

.skills-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.skills-item{
    color: $background-principal;
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:1000px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f2f2f2;
    background-size: cover;
    margin: 10px 5%;
    margin-bottom: 50px;
    p{
        color: $background-principal;
    }
    h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-family: $fuente-principal;
        margin-bottom: 10px;
        font-weight: bold;
    }
}


.container{
	margin: 30px;
    background-color: #0d0d0d;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #0d0d0d;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
    img{
        opacity: 0.8;
        position: relative;
        vertical-align: top;
        transition: 0.6s;
        transition-property: opacity;
    }
    .details{
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        color: #0d0d0d;
        width: 100%;
        height: 100%;
        p{
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            opacity: 0;
            transition: 0.6s;
            transition-property: opacity, transform;
            color: #000;
        }
        h2{
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 70px;
            transition: 0.4s;
            transition-property: transform;
            font-family: $fuente-principal;
            span{
                font-weight: 900;
            }
        }
    }
}


.image:hover img{
	opacity: 1;
} 


.image:hover .details h2{
	transform: translateY(-30px);
    
}


.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;

    .read-more{
        color: #000;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: $fuente-secundaria;
    }
    span{
        font-weight: 900;
    }
}

.image:hover .more{
	bottom: 0;
}


/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .read-more{
		font-size: 18px;
	}
}

// .titulos{
//     font-family:  $fuente-principal;
//     font-size: $font-lg;
//     font-weight: bold;
//     text-align: center;
//     margin-top: 30px;
//     margin-bottom: 10px;
//     text-transform: uppercase;
//     }
// .titulo-skills{
//     font-family: $fuente-principal;
//     font-size: $font-xl;
//     font-weight: bold;
//     text-align: center;
//     margin-top: 40px;
//     margin-bottom: 10px;
//     color: #F2F2F2;
//     text-transform: uppercase;
// }
// .p-skills{
//     color: #0d0d0d;
// }
// .cards{
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
//     padding: 20px;
//     margin-top:70px;
//     margin-bottom: 100px;
//     background-color: $background-secundario;
//     margin-left: 50px;
//     margin-right: 50px;
//     border-radius: 5%;
//     }
    
//     .card{     
//     border: 1px solid #f2f2f2;
//     margin-top: 0;
//     }
    
//     .icono-card{
//     width: 6em;
//     @include centrar-img;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     background-color: $background-secundario;
//     }
    
//     .details{
//     color: #0d0d0d;
//     padding: 20px 10px;
//     font-family:  $fuente-secundaria;
//     }
    
//     .titulo-card{
//     font-family:  $fuente-principal;
//     display: flex;
//     justify-content: center;
//     font-weight: 600;
//     font-size: $font-lg;
//     margin: 10px 0 15px 0;
//     }