.titulo-about{
    font-family: $fuente-principal;
    font-size: $font-xl;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #F2F2F2;
    text-transform: uppercase;

    }

.icono-cara-about{
    width: 6em;
    background-color:$background-secundario;
    border-radius: 100%;
    margin-top:30px;
    }
    
    .img-about{
    margin-top: 50px;
    @include centrar-img;
    width: 20em;
    gap: 20px;
    padding: 20px;
    border-radius: 20%;
    }