
    .titulo-contact{
        margin-top: 70px;
        margin-bottom: 10px;
        }
        .container-contact{
        display: flex;
        justify-content: center;
        }
        .formularios{
        width: 50%;
        @include propiedades-flex (column,center,center);
        background-color: $background-secundario;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 1rem;
        p{
            font-family: $fuente-principal;
            font-size: $font-lg;
            background-color: $background-secundario;
            color: #0D0D0D;
            text-transform: uppercase;
            }
        }
        
       
        .input-form-nombre{
        font-family: $fuente-secundaria;
        background-color: $background-secundario;
        height: 50px;
        width: 300px;
        border: 2.5px solid #0D0D0D;
        text-align: center;
        }
        
        .input-form-email{
        font-family: $fuente-secundaria;
        background-color: $background-secundario;
        height: 50px;
        width: 300px;
        border: 2.5px solid #0D0D0D;
        text-align: center;
        }
        
        .textarea{
        background-color:$background-secundario;
        width: 450px;
        height: 150px;
        border: 2.5px solid #0D0D0D;
        margin-top: 10px;
        padding-left: 10px;
        padding-top: 15px;
    
        }

        .container{
            display: flex;
            align-items: center;
            background-color:$background-secundario;
            position: relative;
            }