@media screen and (max-width:600px) {
    .grid-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    }
    .cards{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    }
    .input-form-nombre{
    height: 50px;
    width: 150px;
    }
    .input-form-email{
    height: 50px;
    width: 150px;
    }
    .textarea{
    width: 150px;
    height: 150px;
    }
    .glitch{
        font-size: 2em;
        margin-bottom: 100px;
    }
    .titulo-contact{
        margin-top: 70px;
    }
    .grid{
        margin-top: 300px;
    }
    .titulos{
        margin-top: 70px;
    }
    .home{
        padding-left: 20px;
    }
    ul{
        position:absolute;
        width: 100%;
        height: 100vh;
        background-color: $background-principal;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: $font-md;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .checkbtn{
        display: block;
    }
    }
    
    @media screen and (max-width:1080px) {
    .grid-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    }
    .cards{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    }
    .input-form-nombre{
    height: 50px;
    width: 250px;
    
    }
    
    .input-form-email{
    height: 50px;
    width: 250px;
    
    }
    
    .textarea{
    width: 250px;
    height: 150px;
    
    }
    .glitch{
        font-size: 4em;
        margin-bottom: 100px;
    }
    .home{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: $font-sm;
    }
}
