.button-enviar{
    font-family: $fuente-secundaria;
    font-weight: bold;
    background-color: $background-secundario;
    border-radius: 20px;
    border: 2.5px solid black;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    }
    